.dashboard-container {
    padding: 20px 40px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-section h1 {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
}

.employee-user-name {
    color: #000;
    font-size: 15px;
}

.date-time-section {
    text-align: right;
}

.current-date {
    text-transform: uppercase;
    font-size: 13.2px;
    color: #000;
}

.current-time {
    margin: 8px 0 0 0;
    font-size: 13.2px;
    color: #000;
}